@import "../../css/index3.css";


.hero-banner .content-block {
    max-width: 100%;
}
.hero-banner {
    margin-top: 20px;
    margin-bottom: 40px;
}
#downloads {
    padding-top: 2rem;
}

.quote {
    text-align: center;
    border:solid;
    border-radius: 1em;
    border-color: rgb(222, 226, 230);
    border-width: 1px;
    font-style: italic;
    padding: 1em;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.3);
}

.quote.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}

.quote-text {
    /* background-color: var(--greenvl); */
    transform: rotate(-3deg);
    border-radius: 0.5rem;
}

.quote-text p {
    transform: rotate(3deg);
}

.quote {
    border: none;
    max-width: 600px;
    margin: auto;
    margin-top: 3rem;
}

.quote-text p {
    font-family: Caveat;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.5rem;
}

.quote {
    text-align: left;
    font-style: normal;
    padding: 1rem;
}

.quote p {
    margin-bottom: 0px;
}

.quote img {
    max-height: 3rem;
    float: left;
}

.quote .name {
    float: left;
    margin-left: 1rem;
}

.quote-who {
    margin-top: 1rem;
}

h2, h3, h4 {
    color: var(--green);
}

section {
    padding-bottom: 0px;
    padding-top: 10px;
}

.aside .attribution {
    display: block;
    padding-top: 1rem;
    font-style: normal
  }

.good-example blockquote {
    border-left-color: var(--green-primary);
}

.bad-example blockquote {
    border-left-color: var(--warning);
}

.sidebar nav {
    margin-top: 42.5px;
}

.sidebar nav h2 {
    color: inherit;
}

.highlight {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

.highlight-good {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(11, 167, 87, 0.3) 4%,
      rgba(11, 167, 87, 0.1)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
.highlight-bad {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 117, 24, 0.1),
      rgba(255, 117, 24, 0.3) 3%,
      rgba(255, 117, 24, 0.1)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }


