.quarto-title-block {
    background: no-repeat url("../assets/images/botnar.webp");
    background-position: right;
}
.quarto-title-banner{
    background: linear-gradient(90deg,rgba(0, 133, 63, 1) 0%, rgba(0, 133, 63, 1) 65%, rgba(0, 133, 63, 0) 80%);
    margin-bottom: 0px;
}
.quarto-title-block .quarto-title-banner{
    background-image: linear-gradient(90deg,rgba(0, 133, 63, 1) 0%, rgba(0, 133, 63, 1) 65%, rgba(0, 133, 63, 0) 80%);
}