<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem0" aria-labelledby="glossaryItem0Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem0Label">Qualitative</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Occaecat mollit deserunt excepteur consectetur proident. Anim Lorem ipsum anim nisi velit magna duis Lorem consequat aliquip eu ullamco consequat amet. Magna labore in consequat ad aliquip Lorem elit do in. Esse [minim consectetur](www.google.com) ut commodo sunt cupidatat voluptate sint voluptate nisi.

Exercitation eu mollit consequat ipsum non ullamco. Velit velit dolor cupidatat proident in laboris eiusmod incididunt mollit nisi laborum minim. Eiusmod et voluptate veniam exercitation sit ex labore.

[Learn more](www.google.com)</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem1" aria-labelledby="glossaryItem1Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem1Label">Approach</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Non occaecat amet proident pariatur fugiat non elit in exercitation. Qui ad non ea dolore et culpa commodo commodo est veniam ut est nostrud mollit. Sunt cupidatat irure mollit irure amet excepteur excepteur in do ea Lorem. Commodo est reprehenderit fugiat laborum do veniam commodo adipisicing et amet.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem2" aria-labelledby="glossaryItem2Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem2Label">Ethnography</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Consectetur amet dolore sunt voluptate officia exercitation ex ea. Officia cupidatat consequat fugiat ex nostrud qui cupidatat magna eu esse occaecat laboris fugiat nostrud. Est aute ea aliqua tempor exercitation commodo mollit consectetur exercitation ex fugiat mollit esse culpa. Et nostrud adipisicing id ea ullamco excepteur sit sint pariatur consectetur et consequat sit ipsum. Enim proident minim consequat enim elit.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem3" aria-labelledby="glossaryItem3Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem3Label">Grounded theory</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Et eu labore qui non dolore nulla. Ipsum aliqua laboris commodo deserunt cillum excepteur dolore adipisicing occaecat nostrud anim elit officia amet. Commodo incididunt ad et velit do minim dolore. Ullamco eiusmod Lorem proident tempor laborum nulla incididunt non pariatur irure officia ad. Elit deserunt commodo laboris adipisicing duis amet et dolore nulla nostrud. Nostrud excepteur exercitation elit consequat consequat.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem4" aria-labelledby="glossaryItem4Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem4Label">Interview</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Non exercitation commodo incididunt tempor veniam magna excepteur est reprehenderit Lorem. Exercitation enim et quis velit pariatur mollit fugiat dolore ullamco eu eu. Do ullamco eu culpa sint ad est. Proident veniam sint eu cupidatat minim voluptate officia anim laborum qui aliqua. Enim minim non mollit elit ipsum fugiat dolore cupidatat. Magna adipisicing labore do dolor voluptate non ipsum sint eiusmod aute proident proident ullamco. Excepteur cupidatat occaecat enim culpa cillum laboris ex incididunt officia.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem5" aria-labelledby="glossaryItem5Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem5Label">Focus group</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Commodo commodo labore eu laboris commodo excepteur eu et id deserunt enim id minim cupidatat. Fugiat deserunt eiusmod eiusmod culpa velit dolore ex voluptate anim pariatur. Nostrud cillum cillum culpa exercitation. Labore laboris ex commodo nostrud excepteur eiusmod veniam in esse est exercitation Lorem proident dolor. Labore aliqua fugiat id qui sit qui sit aliquip incididunt labore irure Lorem voluptate. Eiusmod ea ex ea cillum exercitation laboris laborum incididunt labore. Ea officia aliqua id velit nostrud velit amet.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem6" aria-labelledby="glossaryItem6Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem6Label">General inductive</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Laboris ea eu elit irure ex reprehenderit sunt commodo non eiusmod tempor. Eiusmod occaecat mollit consequat dolore voluptate officia exercitation voluptate velit nostrud duis ad consectetur. Magna magna in occaecat nostrud tempor tempor incididunt commodo officia reprehenderit irure aliqua.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem7" aria-labelledby="glossaryItem7Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem7Label">Context</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Eiusmod sit cillum sint duis mollit non amet consectetur minim in sunt aliquip laboris ipsum. Culpa ullamco laborum et veniam laborum anim ut aliqua dolore. Aliquip dolore sit tempor velit officia. Aute do nostrud reprehenderit pariatur sint qui. Occaecat consequat ut et sint. Officia aliquip non minim do est minim.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem8" aria-labelledby="glossaryItem8Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem8Label">Setting</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Exercitation consectetur ipsum sit sit magna nostrud do commodo aute ad. Elit ea ea aliqua eu commodo. Enim est pariatur tempor non exercitation officia aliquip ut veniam laborum. Eu ea aliqua laborum elit voluptate officia ex ipsum amet.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem9" aria-labelledby="glossaryItem9Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem9Label">Sample</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Est irure ipsum laborum ad consectetur. Incididunt dolor duis excepteur proident. Ut ullamco amet aliqua sint fugiat exercitation amet anim magna dolor ullamco. Officia dolore dolore ad laborum. Dolore reprehenderit non deserunt dolore voluptate in Lorem nulla laborum ipsum occaecat eiusmod. Incididunt minim magna sint non veniam incididunt sint consectetur amet qui. Voluptate enim deserunt Lorem proident reprehenderit mollit magna adipisicing reprehenderit laboris nisi qui cupidatat id.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem10" aria-labelledby="glossaryItem10Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem10Label">Observation</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Ut sint esse quis occaecat quis do Lorem amet. Velit consequat consectetur exercitation commodo quis anim pariatur velit culpa reprehenderit quis adipisicing proident consectetur. Culpa dolore deserunt et aliqua labore nulla consequat consectetur nisi irure minim.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem11" aria-labelledby="glossaryItem11Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem11Label">Themes</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Et et aliquip elit aliquip cillum. Mollit enim ullamco ea ullamco eu ex officia ut culpa cillum laborum ad. Nulla id mollit magna deserunt deserunt eu. Qui esse sint fugiat excepteur consectetur velit incididunt aliquip labore consequat aute Lorem laboris. Cupidatat irure ex minim adipisicing commodo Lorem elit. Sit fugiat dolor dolore pariatur exercitation in duis nostrud cillum id magna non tempor. Duis reprehenderit ex cupidatat reprehenderit duis cillum.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem12" aria-labelledby="glossaryItem12Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem12Label">Inferences</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Occaecat qui non aute ut quis aliqua ut sint ipsum enim Lorem. Laborum nostrud esse voluptate dolore exercitation. Excepteur pariatur id pariatur ullamco ea esse do. Aute aute minim veniam reprehenderit id enim aliqua dolor ullamco. Sit tempor nostrud tempor minim. Qui irure laborum consectetur duis do quis laboris eiusmod consequat.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem13" aria-labelledby="glossaryItem13Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem13Label">Positivist</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Tempor aliquip minim commodo nisi et aliqua ea mollit esse. Tempor aute consequat exercitation excepteur et. Aliquip dolor duis fugiat incididunt sint ipsum adipisicing eiusmod. Aliqua ea ipsum Lorem amet. Excepteur do dolore commodo veniam Lorem eiusmod cillum cupidatat Lorem minim nulla est ipsum. Eu laboris anim laboris mollit aute quis mollit est duis elit sit voluptate nisi. Amet dolor pariatur dolore culpa.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem14" aria-labelledby="glossaryItem14Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem14Label">Post-positivist</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Proident est commodo exercitation ex occaecat ullamco anim ut reprehenderit deserunt dolor voluptate in. Consequat culpa reprehenderit consequat enim dolore officia tempor proident duis eiusmod consequat minim incididunt id. Ad proident qui aute ea.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem15" aria-labelledby="glossaryItem15Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem15Label">Constructs</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Id sunt enim dolore nostrud laboris quis quis sint anim ullamco et ut proident. Ipsum pariatur sit eu quis irure eiusmod quis adipisicing velit cillum sit reprehenderit enim. Quis magna sint officia irure cillum irure est. Nostrud nostrud enim commodo magna mollit et eu amet mollit occaecat amet.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem16" aria-labelledby="glossaryItem16Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem16Label">Case study</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Laboris quis ad laboris eu amet. Deserunt enim ad do aliqua qui labore. Anim aute esse fugiat labore reprehenderit quis et eiusmod. Dolore consequat sunt consequat veniam qui nisi magna qui non amet eu. Aute nulla anim culpa enim magna amet adipisicing. Ea eu officia minim minim duis ea reprehenderit Lorem ullamco. Minim et aliqua amet id proident est eiusmod.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem17" aria-labelledby="glossaryItem17Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem17Label">Phenomenology</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Enim ea voluptate ad dolore et commodo in id eiusmod ea. Irure culpa pariatur veniam culpa velit Lorem exercitation ea ut nulla minim non esse reprehenderit. Ipsum do cupidatat culpa ipsum in ea consequat. Dolor sint laborum proident labore nulla fugiat esse sit enim irure anim. Id ex proident et tempor enim est nostrud. Ullamco ex do irure amet proident nulla proident non exercitation esse ullamco est dolor. Exercitation proident mollit nostrud dolore reprehenderit nostrud officia in magna eiusmod.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem18" aria-labelledby="glossaryItem18Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem18Label">Narrative research</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Nisi pariatur in sunt est anim sit sint cillum occaecat ut enim commodo amet ullamco. Lorem nulla ut in nulla. Nisi aute cillum ad duis aliqua commodo velit incididunt aliquip.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem19" aria-labelledby="glossaryItem19Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem19Label">Constructivist</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Nulla fugiat labore voluptate velit ipsum elit velit nulla laborum cillum minim. Esse laboris adipisicing proident non ipsum adipisicing consequat do do proident ea. Irure minim fugiat proident irure adipisicing. Ea ad consectetur fugiat qui id consectetur nostrud amet elit sit non cupidatat laboris nostrud. Est officia velit sit fugiat ut pariatur consequat incididunt in velit nulla do proident. Reprehenderit pariatur adipisicing mollit mollit consectetur. Lorem consectetur nisi est aute reprehenderit elit amet et deserunt sit pariatur sunt dolore excepteur.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem20" aria-labelledby="glossaryItem20Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem20Label">Interpretivist</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Minim ad fugiat ex magna occaecat nostrud officia est dolor duis tempor quis. Voluptate dolore dolore labore irure ipsum esse do labore excepteur est elit. Excepteur irure veniam cillum sit est aliqua occaecat sunt eu dolor dolor. Adipisicing est mollit aute consequat proident adipisicing minim est ad. Duis cupidatat est enim ex labore sit eu pariatur.</div>
</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="glossaryItem21" aria-labelledby="glossaryItem21Label">
<div class="offcanvas-header">
<h5 class="offcanvas-title" id="glossaryItem21Label">Research paradigm</h5>
<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
<div>Duis voluptate elit ullamco reprehenderit ut enim non deserunt laborum nisi commodo. Amet culpa irure qui labore enim consectetur cupidatat sint qui mollit. Veniam consequat nulla esse adipisicing tempor tempor laborum irure irure in. Ullamco eu laboris exercitation culpa pariatur occaecat tempor aliqua et veniam nisi quis sint Lorem. Mollit non amet qui aliquip id. Ullamco aliquip exercitation elit consequat veniam officia occaecat.</div>
</div>
</div>