[submodule "guideline_repos/SRQR"]
	path = guideline_repos/srqr
	url = https://github.com/jamesrharwood/srqr
[submodule "guideline_repos/SRQR-1"]
	path = guideline_repos/SRQR-1
	url = https://github.com/jamesrharwood/srqr
[submodule "guideline_repos/SRQR-slim"]
	path = guideline_repos/SRQR-slim
	url = https://github.com/jamesrharwood/srqr
