project:
  type: website
  output-dir: _site
  render:
    - "*.qmd"
  preview: 
    port: 3870
    timeout: 180
smooth-scroll: true
csl: american-medical-association.csl
website:
  site-url: 'https://resources.equator-network.org/'
  image: "assets/logos/equator_logo.png"
  favicon: "assets/favicons/equator-network-16x16.png"
  search: false 
    # copy-button: true
    # show-item-context: false
  navbar:
    background: light
    logo: "assets/logos/equator_oxford_65px.png"
    logo-alt: EQUATOR Network Home Page
    right:
      - href: training.qmd
        text: Training
      - text: About
        menu: 
          - text: The UK EQUATOR Centre
            href: about/uk-equator-centre.qmd
          - text: The EQUATOR Network
            href: https://www.equator-network.org/about-us/equator-network-what-we-do-and-how-we-are-organised/
          - text: About this platform
            href: about-this-platform.qmd
          - text: Contact
            href: about/contact.qmd
      - href: reporting-guidelines/index.qmd
        icon: search
  page-footer:
    left: |
      Created by the
      [UK EQUATOR Centre](https://www.equator-network.org/about-us/uk-equator-centre/)
    center:
      - text: "Terms of Use"
        href: https://www.equator-network.org/terms-of-use/
      - text: "Privacy Policy"
        href: https://www.equator-network.org/privacy-policy/
        # #TODO license?
    right:
      - icon: twitter
        href: https://twitter.com/equatornetwork
        aria-label: Quarto Twitter
      - icon: github
        aria-label: EQUATOR GitHub
        href: github
  bread-crumbs: true
  page-navigation: true

format:
  html:
    theme: cosmo
    css: "css/styles.css"
    toc: true
    toc-location: right
    toc-depth: 3
    section-divs: true
    title-block-banner: rgb(0, 133, 63)
    title-block-banner-color: white
    include-in-header:
      - scripts/headers.html
      - scripts/gtm-head.html
      - text: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
      - scripts/noindex.html
    include-before-body: 
      - scripts/gtm-body.html
      # - scripts/search-shortcut.html
    include-after-body:
      - scripts/toggle_collapsible.html
      - offcanvas.html
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 300px
    link-external-icon: true
    link-external-newwindow: true


metadata-files: 
  -  _sidebars.yml