---
id: 23_test_results
title: "23. Test results"
---
Cross tabulation of the index test results (or their distribution) by the results of the reference standard
