---
id: 24_test_results
title: "24. Test results"
---
Estimates of diagnostic accuracy and their precision (such as 95% confidence intervals)