---
id: 25_test_results
title: "25. Test results"
---
Any adverse events from performing the index test or the reference standard